.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form input {
  border-radius: var(--radius1);
  border: none;
  font-size: .8em;
  min-height: 1.7em;
}

.login-form > * {
  margin-top: 0.5em;
}

.login-form button {
  text-align: center;
}

.login-form h2 {
  margin-top: 0;
  margin-bottom: .4em;
}

.login-form .login-error {
  min-height: 1em;
  color: #c5d2fd;
  text-align: center;
}
